vta
discourse_scraper.py
__pycache__
app

# this is different
# Ignore directories
downloaded_threads/
markdown_files/
__pycache__/
venv/
.venv/
discourse_to_markdown_chunks.py

# Ignore files
.env
preprocess.py
*.pyc
.DS_Store

project
.vercel
